#head {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
#profile {
    font-size: 80px;
    text-align: center;
    letter-spacing: 20px;
    margin: 10px;
}
#profpic {
    margin-left: 10px;
    border-radius: 50%;
    width: 120px;
}
#container {
    display: flex;
    flex-direction: row;
}
.infoContainer {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}

.pictureContainer {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

#left-col {
    background-color: #FFEFEE;
    width: 25%;
    padding: 30px;
}
#right-col {
    width: 75%;
    padding: 20px 20px 20px 25px;
    margin-left: 5px;
    background-color: #F9FBFF;
}
.info {
    font-size: 15px;
    padding-left:10px;
}
#summaryText {
    font-size: 15px;
    padding-left:10px;
    text-indent: 15px;
    line-height: 25px;
    color: #3F4A4C;
}
.icon {
    margin-right: 10px;
    border-radius: 50%;
    background: white;
    width: 25px;
}

.grayTxt {
    color: gray;
}
.pinkTxt {
    color: #FF968D;
    font-weight: bold;
}
#underline {
    width: 20%;
    justify-content: flex-start;
    margin: 0;
    
}
a:link {
    color: gray;
}
a:visited {
    color:gray;
}
a:hover {
    color: #385DC3;
}
#projectpic {
    width: 200px;
    margin: 5px;
}